<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DEVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Icons Css -->
    <link rel="stylesheet" href="assets/css/vendor/linearicons.min.css">
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Animation Css -->
    <link rel="stylesheet" href="assets/css/plugins/animation.min.css">

    <!-- Slick Slier Css -->
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css">

    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Easyzoom CSS -->
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>



    <!--====================  header area ====================-->
    <div class="header-area header-area--default bg-white">
        <header class="header-area header_height-90 header-sticky">
            <div class="container-fluid container-fluid--cp-100">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-lg-3 col-6">
                        <div class="logo text-left">
                            <b><h4>DEVA BEANS</h4></b>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-6  d-none d-lg-block">
                        <!-- navigation menu -->
                        <div class="header__navigation d-none d-lg-block">
    
                            <nav class="navigation-menu">
                                <ul class="justify-content-center">
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="/"><span>Home</span></a>
                                    </li>
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="/product"><span>Product</span></a>
                                        <!-- multilevel submenu -->
                                        <ul class="submenu">
                                            <li><a href="/product"><span>Coffee bean</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="#"><span>About</span></a>
                                    </li>
                                    <li class="has-children has-children--multilevel-submenu">
                                        <a href="#"><span>Blog</span></a>
                                    </li>
    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-lg-3 col-6">
                        <div class="header-right-side text-right">
                            <div class="header-right-items  d-none d-md-block">
                                <a href="/auth">
                                    <i class="icon-user"></i>
                                </a>
                            </div>
                            <div class="header-right-items d-none d-md-block">
                                <a href="/wishlist" class="header-cart">
                                    <i class="icon-heart"></i>
                                    <span class="item-counter">3</span>
                                </a>
                            </div>
    
                            <div class="header-right-items">
                                <a href="#miniCart" class=" header-cart minicart-btn toolbar-btn header-icon">
                                    <i class="icon-bag2"></i>
                                    <span class="item-counter">3</span>
                                </a>
                            </div>
                            <div class="header-right-items d-block d-md-none">
                                <a href="javascript:void(0)" class="search-icon" id="search-overlay-trigger">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </div>
                            <div class="header-right-items">
                                <a href="#" class="mobile-navigation-icon" id="mobile-menu-trigger">
                                    <i class="icon-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
    </div>



    <!--====================  End of header area  ====================-->