<%- include('partials/header') %>
    <div id="main-wrapper">
       <!-- content -->

       <!-- endcontent -->
        <div class="contact-us-info-area mt-30 section-space--mb_60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="single-contact-info-item">
                            <div class="icon">
                                <i class="icon-clock3"></i>
                            </div>
                            <div class="iconbox-desc">
                                <h6 class="mb-10">Open houses</h6>
                                <p>Mon – Fri : 8:30 – 18:00 <br>Sat – Sun : 9:00 – 17:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-contact-info-item">
                            <div class="icon">
                                <i class="icon-telephone"></i>
                            </div>
                            <div class="iconbox-desc">
                                <h6 class="mb-10">Phone number</h6>
                                <p>(504) 586 256 23 <br> (306) 574 326 56</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-contact-info-item">
                            <div class="icon">
                                <i class="icon-envelope-open"></i>
                            </div>
                            <div class="iconbox-desc">
                                <h6 class="mb-10">Our email</h6>
                                <p>office@helentheme.com <br>Info@helentheme.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-contact-info-item">
                            <div class="icon">
                                <i class="icon-map-marker"></i>
                            </div>
                            <div class="iconbox-desc">
                                <h6 class="mb-10">Our location</h6>
                                <p>1102 Helen Estates, Guys <br>Store, San Diego, USA.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<div class="container">
<hr>
</div>


<%- include('partials/footer') %>